Body
{
	background-color: #133756;
	text-align:center;
	width: device-width;
	font-size:4.2vh;
}
input {
	font-size:1.1em;
}
p1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #eeeeee;
}

th {
	font-family: Charcoal, sans-serif;
	color: #eeeeee;
}
h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #eeeeee;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
hr {
	width: 80vw;
}