Body
{
	background-color: #133756;
	text-align:center;
}
p1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #eeeeee;
}
th {
	font-family: Charcoal, sans-serif;
	color: #eeeeee;
}
h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #eeeeee;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
hr {
	width: 23%;
}