Body
{
	background-color: #133756;
	text-align:center;
	width: device-width;
	font-size:3.5vh;
}
input {
	font-size:1.1em;
	background-color:#1e304c;
	border-color:#19273d;
	color:#eeeeee;
	text-align:center;
}
p1 {
	font-family: Charcoal, sans-serif;
	color: #eeeeee;
}

th {
	font-family: Charcoal, sans-serif;
	color: #eeeeee;
}
h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #eeeeee;
	text-align:center;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
hr {
	width: 80vw;
}
a:link {
	
	color: #dedeee;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration:none;
}
a:visited {
	color: #aaaabe;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration:none;
}
a:hover {
	color: #f5f5ff;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration:underline;
}
a:active {
	

}